<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Tab Icons -->
	<link rel="shortcut icon" type="image/x-icon" href="./icon/favicon.ico">
	<link rel="icon" type="image/jpg" href="../icon/logo-32.jpg" sizes="32x32">
	<link rel="icon" type="image/jpg" href="../icon/logo-16.jpg" sizes="16x16">

	<title>Add Computer</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="add-computer-stylesheet.css">
</head>
<body>
	<!-- Header -->
	<header>
		<nav class="nav-bar">
			<div class="nav-logo">
				<a href="index.html"><img src="images/logo-64.jpg" id="logo" alt="Logo"></a>
			</div>
			<ol class="menu">
				<li class="menu-item"><a href="add-item.html">Add Item</a></li>
			</ol>
		</nav>
	</header>
	<!-- Main -->
	<main>
	<div id="app">
		<div class="main-title">
			<h1>Add A Computer</h1>
			<p>Add a computer to the inventory</p>
		</div>
		<div class="form-div">
			<form class="form" v-on:submit.prevent="addComputer()">
				<div class="make">
					<label for="make">Make: </label>
					<input type="text" v-model="make" name="item_make">
				</div>
				<div class="model">
					<label for="model">Model: </label>
					<input type="text" v-model="model" name="item_model">
				</div>
				<div class="opp-sys">
					<label for="os">OS: </label>
					<input type="text" v-model="os" name="item_os">
				</div>
				<div class="screen-size">
					<label for="screen">Screen Size: </label>
					<input type="text" v-model="screen" name="item_scrn_size">
				</div>
				<div class="processor-div">
					<label for="processor">Processor: </label>
					<input type="text" v-model="processor" name="item_processor">
				</div>
				<div class="ram-div">
					<label for="ram">RAM: </label>
					<select v-model="ram" class="ram-select">
						<option v-for="option in ramOptions" v-bind:value="option.value">{{option.label}}</option>
					</select>
				</div>
				<div class="hdd-div">
					<label for="storageSize">Storage Size: </label>
					<select v-model="storageSize" name="item_hdd_size">
						<option v-for="option in sizeOptions" v-bind:value="option.value">{{option.label}}</option>
					</select>
					<label for="type">Type: </label>
					<select v-model="type" name="item_hdd_type">
						<option v-for="option in typeOptions" v-bind:value="option.value">{{option.label}}</option>
					</select>
				</div>
				<div class="graphics-dic">
					<label for="graphics">Graphics Card: </label>
					<input type="textarea" v-model="graphics" name="item_graphics">
				</div>
				<div class="description">
					<label for="description">Description: </label>
					<textarea v-model="description" name="item_description"></textarea>
				</div>
				<!-- <div class="add-photo">
					<label for="photo">Add Photo:</label>
					<input type="file" id="photo" name="item_photo" accept="image/*">
					<button class="add-photo-button">Choose File</button>
					<img src="../images/default-placeholder.png" alt="gray-photo">
				</div> -->
				<button class="submit-button">Submit</button>
			</form>
		</div>
	</div>	
	</main>
	<!-- Footer -->
	<footer>
		<div class="footer">
			
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>